body{
    background-image: linear-gradient(#2A2F4F,#FDE2F3);   

}

.game{
    margin: 7%;
    padding: 15%;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.box{
    height: 7.5rem;
    width: 7.5rem;
    border: 0.3rem solid #E5BEEC;
    border-radius: 15%;
    margin: 0.2rem;
    background-color: #FEF2F4;
    text-align: center;
    align-items: center;
    cursor:pointer;

}
.box:hover{
    background-color: #FDE2F3;

}
i{
    font-size: 6rem;
    margin-top:10% ;
    
    
}


