

body{
    background-color:#2A2F4F ; 
    text-align: center;
    margin: 2%;
    padding: 2%;

}

h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #FEF2BF;
}
.title{
    margin-bottom: 5%;
}
.Xwin{
    background-color: #5A96E3;
}
.Owin{
    background-color: #B31312;
}
.game{
    
    align-items: center;
    text-align: center;
    justify-content: center;

}
.box{
    height: 7.5rem;
    width: 7.5rem;
    border: 0.3rem solid #E5BEEC;
    border-radius: 15%;
    margin: 0.2rem;
    background-color: #FEF2F4;
    text-align: center;
    align-items: center;
    cursor:pointer;

}
.box:hover{
    background-color: #FDE2F3;

}
i{
    
    font-size: 6rem;
    margin-top:10% ;
    
    
}


